 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 main {
     height: 550px;
     width: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 2px;
 }

 body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

 }


 .seccionUno {
     border-radius: 50px;
     max-width: 960px;
     display: grid;
     grid-template-columns: repeat(4, auto);
     gap: 1rem;
     margin: auto;
     padding-left: 70px; 
 }

 button {
     padding: 10px;
     height: 100px;
     width: 100px;
     border: none;
 }


 td {
     padding: 3px;
 }

 img {
     height: 80px;
     width: 80px;
 }

 form {
     height: 200px;
     width: 600px;
     align-items: center;
     justify-content: center;
 }

 footer {
     background-color: black;
     height: 60px;
     width: 100vh;
     margin-bottom: 2px;

 }

 p {
     padding: 10px;
     text-align: center;
 }


 .titulo1 {
     font-family: Arial, Helvetica, sans-serif;
     color: white;
 }

 .imgS {
     width: 400px;
     height: 110px;
 }


